/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>

/ {
/*
* Enable global-quick-tap with a 125 millisecond quick-tap-ms term.
* 
* A &gqt binding will only have its underlying hold-tap behavior if it is
* pressed 125 ms after a key press.
* 
* With retro-tap is enabled, the tap behavior is triggered when releasing
* the hold-tap key if no other key was pressed in the meantime.
*/
    behaviors {
        gqt: global-quick-tap {
                compatible = "zmk,behavior-hold-tap";
                label = "GLOBAL_QUICK_TAP";
                #binding-cells = <2>;
                flavor = "tap-preferred";
                tapping-term-ms = <200>;
                quick-tap-ms = <125>;
                global-quick-tap;
                retro-tap;
                bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
/* Colemak
 *
 * ,----------------------------------.                      ,----------------------------------.
 * |   Q  |   W  |   F  |   P  |   G  |                      |   J  |   L  |   U  |   Y  |   ;  |
 * |------+------+------+------+------|                      |------+------+------+------+------|
 * |   A  |   R  |   S  |   T  |   D  |                      |   H  |   N  |   E  |   I  |   O  |
 * |------+------+------+------+------|  ,-----.    ,-----.  |------+------+------+------+------|
 * |   Z  |   X  |   C  |   V  |   B  |  | MUTE|    | PP  |  |   K  |   M  |   ,  |   .  |   /  |
 * `----------------------------------'  `-----'    `-----'  `----------------------------------'
 *          ,-----.   ,--------------------.            ,--------------------.   ,-----.
 *          |     |   | DEL | SPACE | TAB  |            |  ESC  | BS | ENTER |   |     |
 *          `-----'   `--------------------'            `--------------------'   `-----'
 */
            bindings = <
    &kp Q        &kp W       &kp F        &kp P        &kp G           &kp J    &kp L       &kp U        &kp Y        &kp SEMI
    &gqt LSHFT A &gqt LCTRL R &gqt LALT S &gqt LCMD T  &kp D           &kp H    &gqt RCMD N &gqt RALT E  &gqt RCTRL I &gqt RSHIFT O
    &kp Z        &kp X       &kp C        &kp V        &kp B           &kp K    &kp M       &kp COMMA    &kp DOT      &kp FSLH
    &trans       &lt 3 DEL   &lt 1 SPACE  &kp TAB      &kp K_MUTE      &kp C_PP &kp ESC     &kp BSPC     &lt 2 RET    &trans
            >;

            sensor-bindings = <
                &inc_dec_kp PAGE_UP PAGE_DOWN
                &inc_dec_kp C_VOL_DN C_VOL_UP
                &inc_dec_kp DOWN UP
                &inc_dec_kp LEFT RIGHT
            >;
        };

        navnum_layer {
/* NAVNUM
 *
 * ,----------------------------------.                      ,----------------------------------.
 * |      | PgUp |  UP  | PgDn |      |                      |   /  |   7  |   8  |   9  |   -  |
 * |------+------+------+------+------|                      |------+------+------+------+------|
 * | Home | Left | Down | Right| End  |                      |   =  |   4  |   5  |   6  |   +  |
 * |------+------+------+------+------|  ,-----.    ,-----.  |------+------+------+------+------|
 * |      |      |  INS |      |      |  |  2  |    |  3  |  |   0  |   1  |   2  |   3  |   *  |
 * `----------------------------------'  `-----'    `-----'  `----------------------------------'
 *          ,-----.   ,--------------------.            ,--------------------.   ,-----.
 *          |     |   | DEL | SPACE | TAB  |            |  ESC  | BS | ENTER |   |     |
 *          `-----'   `--------------------'            `--------------------'   `-----'
 */
            bindings = <
    &trans          &kp PG_UP      &kp UP        &kp PG_DN      &trans                &kp FSLH  &kp N7      &kp N8      &kp N9       &kp MINUS
    &mt LSHIFT HOME &mt LCTRL LEFT &mt LALT DOWN &mt LCMD RIGHT &kp END               &kp EQUAL &mt RCMD N4 &mt RALT N5 &mt RCTRL N6 &mt RSHIFT PLUS
    &trans          &trans         &kp INS       &trans         &trans                &kp N0    &kp N1      &kp N2      &kp N3       &kp ASTERISK
    &trans          &lt 3 DEL      &lt 1 SPACE   &kp TAB        &kp N2                &kp N3    &kp ESC     &kp BSPC    &lt 2 RET    &trans
            >;

            sensor-bindings = <
                &inc_dec_kp PAGE_UP PAGE_DOWN
                &inc_dec_kp C_VOL_DN C_VOL_UP
                &inc_dec_kp DOWN UP
                &inc_dec_kp LEFT RIGHT
            >;
        };

        symbol_layer {
/* SYM
 *
 * ,----------------------------------.                      ,----------------------------------.
 * |   !  |   @  |   [  |   ]  |   \  |                      |      |      |      |      |      |
 * |------+------+------+------+------|                      |------+------+------+------+------|
 * |   #  |   $  |   (  |   )  |   |  |                      |   _  |   '  |   "  |   ~  |   `  |
 * |------+------+------+------+------|  ,-----.    ,-----.  |------+------+------+------+------|
 * |   %  |   ^  |   {  |   }  |   &  |  |  2  |    |  3  |  |      |      |      |      |      |
 * `----------------------------------'  `-----'    `-----'  `----------------------------------'
 *          ,-----.   ,--------------------.            ,--------------------.   ,-----.
 *          |     |   | DEL | SPACE | TAB  |            |  ESC  | BS | ENTER |   |     |
 *          `-----'   `--------------------'            `--------------------'   `-----'
 */
            bindings = <
    &kp EXCL     &kp AT      &kp LBKT    &kp RBKT    &kp BACKSLASH           &trans          &trans          &trans              &trans      &trans
    &kp HASH     &kp DLLR    &kp LPAR    &kp RPAR    &kp PIPE                &kp UNDER       &kp APOS        &kp DOUBLE_QUOTES   &kp TILDE   &kp GRAVE
    &kp PRCNT    &kp CARET   &kp LBRC    &kp RBRC    &kp AMPS                &trans          &trans          &trans              &trans      &trans
    &trans       &lt 3 DEL   &lt 1 SPACE &kp TAB     &kp N2                  &kp N3          &kp ESC         &kp BSPC            &lt 2 RET   &trans
            >;

            sensor-bindings = <
                &inc_dec_kp PAGE_UP PAGE_DOWN
                &inc_dec_kp C_VOL_DN C_VOL_UP
                &inc_dec_kp DOWN UP
                &inc_dec_kp LEFT RIGHT
            >;
        };

        function_layer {
/* FUNC
 *
 * ,----------------------------------.                      ,----------------------------------.
 * |      |      | BTCLR|      |      |                      |  F1  |  F2  |  F3  |  F4  |  F5  |
 * |------+------+------+------+------|                      |------+------+------+------+------|
 * |  BT0 |  BT1 |  BT2 |  BT3 |  BT4 |                      |  F6  |  F7  |  F8  |  F9  |  F10 |
 * |------+------+------+------+------|  ,-----.    ,-----.  |------+------+------+------+------|
 * | Reset|      |      |      |BT/USB|  |  2  |    |  3  |  |  F11 |  F12 |  F13 |      | Reset|
 * `----------------------------------'  `-----'    `-----'  `----------------------------------'
 *          ,-----.   ,--------------------.            ,--------------------.   ,-----.
 *          |     |   | DEL | SPACE | TAB  |            |  ESC  | BS | ENTER |   |     |
 *          `-----'   `--------------------'            `--------------------'   `-----'
 */
            bindings = <
    &trans        &trans         &bt BT_CLR     &trans         &trans              &kp F1   &kp F2   &kp F3     &kp F4      &kp F5
    &bt BT_SEL 0  &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4        &kp F6   &kp F7   &kp F8     &kp F9      &kp F10
    &sys_reset    &trans         &trans         &trans         &out OUT_TOG        &kp F11  &kp F12  &kp F13    &trans      &sys_reset
    &trans        &lt 3 DEL      &lt 1 SPACE    &kp TAB        &kp N2              &kp N3   &kp ESC  &kp BSPC   &lt 2 RET   &trans
            >;

            sensor-bindings = <
                &inc_dec_kp PAGE_UP PAGE_DOWN
                &inc_dec_kp C_VOL_DN C_VOL_UP
                &inc_dec_kp DOWN UP
                &inc_dec_kp LEFT RIGHT
            >;
        };

    };
};
